{% extends "base.html" %}

{% block content %}
<h1 class="my-5">Announcements</h1>
{% if user.role != "5" %}
    <a href="{% url 'post.create' %}" class="btn btn-success" >Create Announcement</a>
{% endif %}
<div class="row row-cols3 g-2"> 
    {% for post in posts %}
    <div class="col"> 
        <div class="p-3 border">
            <a href="{% url 'post.detail' pk=post.id %}" class="text-dark text-decoration-non">
                <h3>{{post.title}}</h3>
            </a>
            {{post.content|truncatechars:10}}

        </div>
    </div>
    {% endfor %}

</div>
{% endblock %}