{% extends "base.html" %}

{% block content %}
<h1 class="my-5">Extensions</h1>
<a href="{% url 'extension.create' %}" class="btn btn-success" >Add Extension</a>
{% if  request.user.role == "3" %}
<a class="btn btn-primary" href="{% url 'table.generate.extensions' %}?ext=csv" >Generate CSV</a>
<a class="btn btn-success" href="{% url 'table.generate.extensions' %}?ext=xls" >Generate Excel</a>
{% endif %}
<div class="card">
    <table class="table table-dark table-hover">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Code</th>
            {% comment %} <th scope="col">Head</th> {% endcomment %}
            <th scope="col">Name</th>
            <th scope="col">Description</th>
            <th scope="col">Action</th>

          </tr>
        </thead>
        <tbody>
            {% for item in extensions %}
                <tr>
                    <th scope="row">{{item.id}}</th>
                    <td>{{item.code}}</td>
                    <td>{{item.name}}</td>

                    {% comment %} <td>{{item.head.first_name}} {{item.head.last_name}}</td> {% endcomment %}
                    <td>{{item.description|truncatechars:10}}</td>
                    <td>
                        <a href="{% url 'extension.update' pk=item.id %}" class="btn btn-success">Edit</a>
                        <a href="{% url 'extension.delete' pk=item.id %}" class="btn btn-danger">Delete</a>
                    </td>
    
                </tr>
            {% endfor %}
        </tbody>
      </table>
</div>

{% if  request.user.role == "3" %}
<div class="row mt-5 mb-2">
  <div class="col-7">
    <select class="form-select" aria-label="Default select example" onchange="onChange(this.value)">
      <option selected value="">---</option>
      {% for item in extensions %}
      <option value={{item.id}}>{{item.code}}</option>
      {% endfor %}
    </select>
  </div>
  <div class="col-5">
    <a class="btn btn-secondary" href="{% url 'extension.list' %}" >Show All</a>
  </div>
</div>

{% if  ext %}
<span class="badge text-bg-secondary">{{ext}}</span>
{% endif %}
{% if  ext == "" %}
<span class="badge text-bg-success">All</span>
{% endif %}
  
<div class="card">
  <table class="table table-dark table-hover">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">First name</th>
        <th scope="col">Last name</th>

    </tr>
    </thead>
    <tbody>
      {% if  users_all %}
        {% for item in users_all %}
              <tr>
                <th scope="row">{{item.id}}</th>
                <td> {{item.first_name}}</td>
                <td>{{item.last_name}}</td>
            </tr>
        {% endfor %}
      {% endif %}

        {% if  users_all == "" %}
          {% for item in users %}
          <tr>
                  <th scope="row">{{item.id}}</th>
                  <td> {{item.user.first_name}}</td>
                  <td>{{item.user.last_name}}</td>
              </tr>
          {% endfor %}
        {% endif %}

    </tbody>
  </table>
</div>

<script>
  function onChange(value){
    if (value){
      console.log("value is", value)
      window.location.href = "http://127.0.0.1:8000/extension?filter="+value
    }
  }
</script>
{% endif %}
{% endblock %}