{% extends "base.html" %} 

{% block content %}

    <div class="card my-5" style="width: 25rem">
        <img
            src="{{user.profile_image.url}}"
            class="card-img-top"
            alt="profile picture"
        />
    <div class="card-body">
        <h5 class="card-title">{{user.last_name}}, {{user.first_name}}</h5>
        <p class="card-text">{{user.email}}</p>
        <p class="card-text">{{user.dept}}</p>
    </div>
 
        <a href="{% url 'user.update' pk=user.id %}" class="btn btn-success">Edit</a>
        <a href="{% url 'user.password' %}" class="btn btn-warning">Change Password</a>
        <a href="{% url 'user.delete' pk=user.id %}" class="btn btn-danger">Delete</a>
   

    </div>

{% endblock %}
