{% extends "base.html" %} 

{% block content %}

    <div class="card my-5" style="width: 25rem">
        <img
            src="{{user.profile_image.url}}"
            class="card-img-top"
            alt="profile picture"
        />
    <div class="card-body">
        <h5 class="card-title">{{user.last_name}}, {{user.first_name}} 
            {% for e in ext %}
            {{e}}
            {% endfor %}
            </h5>
        <p class="card-text">{{user.email}}</p>
        <p class="card-text">{{user.dept}}</p>
       
            {% for item in subjects %}
            <span class="badge text-bg-dark">{{item.code}}</span>
            {% endfor %}
           
    </div>
 
        <a href="{% url 'user.update' pk=user.id %}" class="btn btn-success mt-1">Edit</a>
        <a href="{% url 'user.password' %}" class="btn btn-warning mt-1">Change Password</a>
        <a href="{% url 'user.delete' pk=user.id %}" class="btn btn-danger mt-1">Delete</a>
    
   

    </div>

{% endblock %}
