  
  <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-dark">
    <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100" >
        <a href="/" class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none">
            <span class="fs-5 d-none d-sm-inline mt-4">FMS</span>
        </a>
        <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">

          {% comment %} -------------- UNIVERSAL ---------- {% endcomment %}
            <li class="nav-item">
                <a href="{% url 'post.list' %}" class="nav-link align-middle px-0">
                    <i class="fs-4 bi-house"></i> <span class="ms-1 d-none d-sm-inline">Home</span>
                </a>
            </li>
            <li class="nav-item">
              <a href="{% url 'post.list.all' %}" class="nav-link align-middle px-0">
                  <i class="fs-4 bi-house"></i> <span class="ms-1 d-none d-sm-inline">Announcements</span>
              </a>
            </li>
           

            {% comment %} ----------- ADMIN ----------- {% endcomment %}

            {% if request.user.role == "1" %}
              <li>
                  <a href="{% url 'subject.list' %}"  class="nav-link px-0 align-middle">
                      <i class="fs-4 bi-table"></i> <span class="ms-1 d-none d-sm-inline">Subjects</span></a>
              </li>
              <li>
                <a href="{% url 'department.list' %}"  class="nav-link px-0 align-middle">
                <i class="fs-4 bi-table"></i> <span class="ms-1 d-none d-sm-inline">Departments</span></a>
              </li>

              <li>
                <a href="#submenu3" data-bs-toggle="collapse" class="nav-link px-0 align-middle">
                    <i class="fs-4 bi-grid"></i> <span class="ms-1 d-none d-sm-inline">Reports &#8595</span> </a>
                    <ul class="collapse nav flex-column ms-2" id="submenu3" data-bs-parent="#menu">
                      <li class="w-100">
                          <a href="{% url 'table.reports.users' %}" class="nav-link px-0 link-info"> <span class="d-none d-sm-inline">User</span></a>
                      </li>
                      <li class="w-100">
                        <a href="{% url 'table.reports.subjects' %}" class="nav-link px-0 link-info"> <span class="d-none d-sm-inline">Subjects</span></a>
                     </li>
                     <li class="w-100">
                      <a href="{% url 'table.reports.departments' %}" class="nav-link px-0 link-info"> <span class="d-none d-sm-inline">Departments</span></a>
                     </li>
                     <li class="w-100">
                      <a href="{% url 'table.reports.research' %}" class="nav-link px-0 link-info"> <span class="d-none d-sm-inline">Research</span></a>
                     </li>
                     <li class="w-100">
                      <a href="{% url 'table.reports.extensions' %}" class="nav-link px-0 link-info"> <span class="d-none d-sm-inline">Extensions</span></a>
                     </li>
                   </ul>
            </li>
            {% endif %}

            {% if request.user.role != "1" %}
            <li>
                <a href="{% url 'my-subjects' %}"  class="nav-link px-0 align-middle">
                    <i class="fs-4 bi-table"></i> <span class="ms-1 d-none d-sm-inline">My Subjects</span></a>
            </li>
           {% endif %}

          {% comment %} ----- not faculty ------ {% endcomment %}
            
            <li>
              <a href="{% url 'research.list' %}"  class="nav-link px-0 align-middle">
                  <i class="fs-4 bi-table"></i> <span class="ms-1 d-none d-sm-inline">Research</span></a>
            </li>

            {% if request.user.role == "1" or request.user.role == "3"  %}
              <li>
                <a href="{% url 'extension.list' %}"  class="nav-link px-0 align-middle">
                    <i class="fs-4 bi-table"></i> <span class="ms-1 d-none d-sm-inline">Extensions</span></a>
              </li>
            {% endif %}

            <li>
              <a href="{% url 'my-extensions' %}"  class="nav-link px-0 align-middle">
                  <i class="fs-4 bi-table"></i> <span class="ms-1 d-none d-sm-inline">My Extensions</span></a>
            </li>
            
            
            
            {% if request.user.department.all %}
            <li>
              <a href="{% url 'department.me' %}"  class="nav-link px-0 align-middle">
                  <i class="fs-4 bi-table"></i> <span class="ms-1 d-none d-sm-inline">My Department</span></a>
            </li>
            {% endif %}
        </ul>

        <hr>
        <div class="dropdown pb-4">
            <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                <img src="{{request.user.profile_image.url}}" alt="hugenerd" width="30" height="30" class="rounded-circle">
                <span class="d-none d-sm-inline mx-1">{{request.user.username}}</span>
            </a>
            <ul class="dropdown-menu dropdown-menu-dark text-small shadow">
                <li><a class="dropdown-item" href="{% url 'profile' %}">Profile</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="{% url 'logout' %}">Sign out</a></li>
            </ul>
        </div>
      
    </div>
</div>


{% comment %} ================================= {% endcomment %}

{% comment %} ----- universal ------ {% endcomment %}

{% comment %} 
<a href="{% url 'home' %}" class="btn btn-outline-light me-1">Home</a>
<a href="{% url 'post.list' %}" class="btn btn-outline-light me-1">Announcements</a>
<a href="{% url 'profile' %}" class="btn btn-outline-light me-1">Profile</a> {% endcomment %}


   {% comment %} ----- admin ------ {% endcomment %}
  {% comment %} {% if request.user.role == "1" %}
     <a href="{% url 'subject.list' %}" class="btn btn-outline-light me-1">Subjects</a>
   {% endif %} {% endcomment %}

   {% comment %} <a href="{% url 'my-subjects' %}" class="btn btn-outline-light me-1">My Subjects</a>  {% endcomment %}

   {% comment %} ----- not faculty ------ {% endcomment %}
   {% comment %} {% if request.user.role != "5" %}
     <a href="{% url 'post.create' %}" class="btn btn-outline-light me-1">Create Announcement</a>
   {% endif %} {% endcomment %}
